html(lang="en")
    head
        meta(charset="utf-8")
        title
            =$panic['name']
            =" | "
            =$site['site.name']
        link(rel="stylesheet" href="/resources/css/panic.css")
    body
        .flex-center.position-ref.full-height
            if $panic['debug']
                .top-right.links
                    a(href="#trace") Stacktrace
                    a(href="#get") _GET
                    a(href="#post") _POST
                    a(href="#server") _SERVER

            .content
                .title.m-b-md=$panic['name']

                if $panic['debug']
                    .links Below you'll find stacktrace and dump of _GET, _POST and _SERVER if the application is in debug mode. Sensitive data on the horizon!
                else
                    .links Oh snap!
        if $panic['debug']
            .flex-center.position-ref.full-height
                .content#trace
                    .title.m-b-md Stacktrace

                    .links=var_dump($panic['stacktrace'])
            .flex-center.position-ref.full-height
                .content#get
                    .title.m-b-md _GET

                    .links=var_dump($panic['get'])
            .flex-center.position-ref.full-height
                .content#post
                   .title.m-b-md _POST

                   .links=var_dump($panic['post'])
            .flex-center.position-ref.full-height
                .content#server
                    .title.m-b-md _SERVER

                    .links=var_dump($panic['server'])