@import "normalize";
@import "raleway";
html,
body {
    background-color: #fdfdfd;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.position-ref {
    position: relative;
}
.full-height {
    height: calc(100vh - 5em);
}
header {
    left: 0;
    z-index: 2;
    right: 0;
    top: 0;
    background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9630e4 51%, #ec2222 100%) !important;
    position: fixed;
    color: #fff;
    display: flex;
    align-items: center;
    height: calc(3em - 6px);
    padding: 1em;

    #buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        border: #0056a0 1px solid;
        background: rgba(0,0,0,0.4);
        height: 50px;
        min-width: 50px;
    }

    #back:after {
        content: '<';
        font-size: 25px;
        color: #fff;
    }

    .logout {
        margin-left: 0.5em;
        width: auto;
        color: #fff;
    }

    h1 {
        margin-left: 0.5em;
        font-size: 25px;
    }

    .right {
        position: absolute;
        right: 1em;
    }
}
nav {
    width: 30vw;
    left: 0;
    bottom: 0;
    top: calc(5em - 6px);
    z-index: 2;
    overflow-y: auto;
    background: #fdfdfd;
    position: fixed;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);

    div {
        width: calc(100% - 2em);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 1em;
        font-size: 110%;
    }

    div.header {
        font-size: 80%;
        text-transform: uppercase;
    }

    div:not(.header):active,
    div:not(.header):focus,
    div:not(.header):hover {
        background: #f9f9f9;
    }
}
section {
  top: 6em;
  width: 67vw;
  left: 32vw;

  div.indexed {
    margin: 1em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1em 0;

    p {
      -webkit-margin-before: 0.5em;
      -webkit-margin-after: 1em;
    }

    input {
      width: 100%;
      margin-bottom: 0.5em;
      padding: 0.5em;
      font-size: 105%;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      padding: 0.5em;
    }
  }

  table, th, td {
    border: 1px solid black;
  }
}
.error, .progress, .success, .deprecated {
  color: #fff;
  position: fixed;
  padding: 1em;
  right: 1em;
  bottom: 1em;
  z-index: 100;
  max-width: 300px;
  width: 300px;
}
.error,
.success {
  &:after {
    position: absolute;
    content: '';
    background: #333;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    animation: set-width-0 2.5s;
  }
}
.error {
  background: #f00;
}
.progress {
  background: #00f;
}
.deprecated {
  background: #a90;
  top: 6em;
  opacity: 0.5;
  user-select: none;
  bottom: initial;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.np {
    pointer-events: none;
    opacity: 0.3;
    transition: opacity 1.2s ease-in-out;
  }
}
.success {
  background: #0f0;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 1em;
    background: #fff;
    max-width: 250px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);
    padding: 1em;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #0075da;
  padding: 9px;
  border-radius: 3px;
  height: 24px;
  width: 24px !important;
  display: inline-block;
  position: relative;
  float: right;
  margin: 1em;
  transition: background .2s;
}

input:checked {
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.05);
	background: #0075da;
}

.editor {
  display: block;
  position: fixed;
  height: calc(100vh - 5em + 6px);
  background: rgba(255, 255, 255, 0.85);
  z-index: 4;
  top: calc(5em - 6px);
  width: 70vw;
  overflow-y: scroll;
  left: 30vw;

  input[type="text"] {
    width: 100%;
    padding: 1em;
    font-size: 130%;
    border: 0;
    border-bottom: 1px solid #999;
  }

  .metadata {
    background: #fff;
    z-index: 6;
    padding: 2em;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
    min-height: 350px;

    .editor-header {
      display: inline-block;
    }

    .editor-btn {
      border: 1px solid #0075da;
      background: none;
      color: #000;
      font-weight: 300;
      padding: 1em;
      font-size: 110%;
      float: right;
    }

    .editor-group {
      display: flex;
      align-items: center;

      input[type="text"] {
        width: 70%;
      }

      label {
        width: calc(30% - 1em);
        text-align: right;
        padding-right: 1em;
      }

    }
  }

  .split {
    display: flex;
    min-height: 92%;

    textarea {
      color: #202020;
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);
      border: 0;
      padding: 1em;
      overflow: auto;
      outline: 0;
      font-family: 'Consolas';
      background: rgba(245, 245, 245, 0.6);
      height: 100%;
      width: 50%;
    }
  }

  .split > div {
    padding: 1em;
    width: 50%;
  }
}

@keyframes blackout {
    from {opacity: 0;}
    to {opacity: 1;}
}

.blackout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(111, 167, 216, 0.5);
    z-index: 3;
    animation: blackout .5s;
}

.spoiler {
    filter: blur(6px);
    transition: filter .2s;
}
.spoiler:focus,
.spoiler:active {
    filter: none;
}
@keyframes set-width-0 {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
// SGI-ONLY
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #555;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}