@import "normalize";

html,
body {
  background: #444;
  color: #999;
  font-weight: 100;
  min-height: 100vh;
  padding: 2em 0 1em;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
input,
textarea,
label {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 64px;
  text-align: center;
}

.m-b-md {
  margin-bottom: 30px;
}

.full-height {
  min-height: 100vh;
}
.error {
  border: 2px solid #ffe425;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
}

.form-control {
  align-items: center;
  border-radius: 6px;
  padding: 1em 0;
  font-size: 115%;
  width: 300px;
  margin-bottom: 1em;
  height: 15px;
  position: relative;

  label {
    font-size: 70%;
    text-transform: uppercase;
    padding-right: 2%;
    display: block;
    font-weight: bold;
    z-index: 2;
  }

  input,
  select {
    border: none;
    background: #dedede;
    width: 100%;
    padding: 0.5em 1em;
    z-index: 1;
  }
}

input[type="submit"] {
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9630e4 51%, #ec2222 100%) !important;
  border-radius: 999px;
  border: none;
  position: relative;
  padding: 1em;
  margin: 1em 0;
  font-size: 120%;
  color: #fff;
  width: 100%;
  transition: opacity .3s ease-out;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  opacity: 0.5;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}


.error, .progress, .success {
  color: #fff;
  position: fixed;
  padding: 1em;
  right: 1em;
  bottom: 1em;
  z-index: 6;
  max-width: 300px;
  width: 300px;
}

.error,
.success {
  &:after {
    position: absolute;
    content: '';
    background: #333;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    animation: set-width-0 2.5s ease-in-out;
  }
}

.error {
  background: #800000;
}

.progress {
  background: #053090;
}

.success {
  background: #008800;
}
@keyframes set-width-0 {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}