@import "normalize";
@import "source_sans";
html,
body {
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    color: #636b6f;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
html,
body,
input {
    font-family: 'Source Sans Pro', -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
.flex-center {
    align-items: center;
    justify-content: center;
    display: flex;
}
.position-ref {
    position: relative;
}
.full-height {
    height: 100vh;
}
.title {
    text-align: center;
    font-size: 64px;
}
.m-b-md {
    margin-bottom: 0.5em;
}

form {
    max-width: 350px;
    min-width: 350px;
}
.form-control {
    align-items: center;
    border-radius: 6px;
    font-size: 115%;
    margin-bottom: 1em;
    padding: 1em;
    height: 15px;
    position: relative;
    
    input {
        border: none;
        background: #fff;
        padding: 1em;
        width: 100%;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        z-index: 1;
    }
}
.error {
    border: 2px solid #ffe425;
    padding: 1em;
    border-radius: 4px;
    margin-bottom: 0.5em;
}
input[type="submit"] {
    background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9630e4 51%, #ec2222 100%) !important;
    border-radius: 999px;
    border: none;
    position: relative;
    padding: 1em;
    margin: 1em;
    font-size: 120%;
    color: #fff;
    transition: opacity .3s ease-out;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: calc(100% - 2em);
    opacity: 0.8;

    &:hover,
    &:focus,
    &:active {
       opacity: 1;
    }
}