@import "normalize";

html,
body {
  background: #eee;
  color: #636b6f;
  font-weight: 100;
  min-height: 100vh;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
input,
textarea,
label {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 44px 10px 0;
  display: flex;
  justify-content: space-between;
}

nav {
  width: 250px;

  div {
    padding-top: 2px;
    transition: padding-top .1s ease-in-out,
                padding-bottom .1s ease-in-out;

    strong {
      transition: color .1s ease-in-out,
                  font-size .1s ease-in-out;
      color: #888;
      font-size: 100%;
    }

    &.active {
      padding-top: 4px;
      padding-bottom: 2px;

      strong {
        color: #000;
        font-size: 108%;
      }
    }

    &:hover:not(.active):not(.header) {
      strong {
        color: #555;
        font-size: 104%;
      }
    }

    &.header {
      padding-top: 6px;
      padding-bottom: 2px;

      strong {
        color: #777;
        font-size: 80%;
      }
    }
  }

  button {
    width: 100%;
    border: 0;
    outline: 0;
    opacity: 0.6;
    transition: opacity .2s ease-in-out;
    color: rgb(235, 57, 57);
    text-align: left;
    margin-top: 15px;
    background: none;
    font-size: 100%;
    padding: 0;

    &:hover,
    &:active,
    &:focus,
    &.active {
      opacity: 1;
    }
  }
}

section {
  margin-left: 20px;
  width: 100%;
}

.error, .progress, .success {
  color: #fff;
  position: fixed;
  padding: 1em;
  right: 1em;
  bottom: 1em;
  z-index: 6;
  max-width: 300px;
  width: 300px;
}

.error,
.success {
  &:after {
    position: absolute;
    content: '';
    background: #333;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    animation: set-width-0 2.5s ease-in-out;
  }
}

.error {
  background: #800000;
}

.progress {
  background: #053090;
}

.success {
  background: #008800;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #00dabe;
  padding: 9px;
  border-radius: 3px;
  height: 24px;
  width: 24px !important;
  display: inline-block;
  position: relative;
  float: right;
  margin: 1em;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
  transition: background .2s ease-out;

  &:checked {
    background: #00dabe;
  }

  &:hover {
    background: rgba(0, 218, 190, 0.34);
  }
}

.grid {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  & > div {
    width: 100%;
    padding: 22px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  & > .page-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px dashed rgba(0,0,0,0.05);

    button {
      background: rgba(0,0,0,0.05);
      padding: 0.5em;
      margin-left: 5px;
      border: 1px solid rgba(0,0,0,0.5);
      opacity: 0.4;
      transition: all .2s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        background: rgba(0,0,0,0.05);
        opacity: 1;
        border: 1px solid rgba(0,0,0,0.5);
      }
    }

    &.add {
      font-weight: lighter;
      font-size: 110%;
      opacity: 0.5;
      transition: opacity .2s ease-in-out;
      justify-content: center;

      &:active,
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}

.spoiler {
  filter: blur(6px);
  transition: filter .1s ease-in-out;

  &:focus,
  &:active {
    filter: none;
  }
}

@keyframes set-width-0 {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

container > section {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;

  .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 22px 0;
  }

  input {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: 105%;
  }
}

.overlay {
  background: #444;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 110%;
  flex-flow: column;

  .indicator {
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    transform: rotate(280deg);
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
    margin-bottom: 3em;
    animation: indicator 1.8s infinite ease-in-out;

    &:after {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      transform: rotate(45deg);
      background: #427df4;
      top: 100px;
      left: 25px;
      box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
    }
  }

  &.dismiss {
    animation: dismiss 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}

@keyframes dismiss {
  0% {
    background: #444;
    opacity: 1;
    color: #999;
  }
  80% {
    background: rgba(68, 68, 68, 0.2);
    opacity: 1;
    color: #444;
  }
  100% {
    background: none;
    color: #666;
    pointer-events: none;
    opacity: 0;
  }
}

@keyframes indicator {
  0% {
    transform: rotate(280deg);
  }

  75% {
    transform: rotate(640deg);
  }

  100% {
    transform: rotate(640deg);
  }
}

.editor-overlay {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding-top: 1em;
  background: #eee;

  button {
    dialog {
      border-radius: 12px;
      background: #fff;
      box-shadow: rgba(66, 244, 220, 0.2) 0 0 16px 1px;
      opacity: 0;
      z-index: 1002;
      width: 250px;
      text-align: left;
      display: block;
      padding: 0.5em 0 0;
      user-select: none;
      pointer-events: none;
      overflow-y: auto;
      left: 36px;
      border-top-left-radius: 0;
      border: 1px solid #42f4dc;
      transition: all .2s ease-in-out;
      position: absolute;

      & > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        label {
          font-weight: bold;
          margin: 0 0.7em;
          margin-bottom: 5px;
        }

        input[type=text] {
          border: 0;
          border-bottom: 1px solid #42f4dc;
        }
      }

      .space-between {
        padding: 0 .7em;
        justify-content: space-between;

        label {
          margin: 0;
        }
      }

      input[type=checkbox] {
        margin: 0;
      }

      button {
        width: 100%!important;
        height: auto!important;
        padding: 0.7em!important;
        margin-top: .7em!important;
        border-top: 1px solid #42f4dc;
      }
    }

    &.active {
      dialog {
        opacity: 1;
        user-select: initial;
        pointer-events: initial;
      }
    }
  }

  nav.editor-sidebar {
    width: 50px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    align-items: center;

    separator {
      height: 1px;
      margin-bottom: 5px;
      width: 55%;
      background: linear-gradient(to right, #000 20%, #000 60%, #000 20%);
    }

    button {
      width: 36px;
      height: 36px;
      color: #666;
      text-align: center;
      margin-bottom: 5px;
      display: block;
      padding: 3px;
      margin-top: 0;
    }
  }

  article.editor-writer {
    position: relative;
    padding: 1em;
    margin-left: 8px;
    width: 100%;
    height: 100%;

    .floating {
      position: fixed;
      bottom: 1em;
      right: 1em;
      z-index: 1000;
      display: flex;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
      border-radius: 12px;
      background: #fff;

      .rounded {
        width: 24px;
        height: 24px;
        border: 0;
        margin: 0;
        display: block;
        opacity: 0.4;
        background: 0;
        outline: 0;
        transition: all .3s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          opacity: 1;
        }
      }

      .left {
        margin-left: 4px;
      }

      .right {
        margin-right: 4px;
      }

      separator {
        width: .5px;
        background: #666;
        height: 24px;
        margin: 0 4px;
      }
    }

    input[type=text] {
      background: transparent;
      border: 0;
      border-bottom: 2px dashed rgba(34, 34, 34, 0.1);
      transition: .3s all ease-in-out;

      &:hover,
      &:active,
      &:focus {
        border-bottom: 2px dashed rgba(34, 34, 34, 0.3);
      }
    }

    .container {
      width: 100%;
      position: relative;
      z-index: 999;
      height: 100%;

      textarea {
        display: block;
        background: transparent;
        border: 0;
        width: 100%;
        height: 100%;
        outline: 0;
        overflow: hidden;
        overflow-y: auto;
        font-weight: 100;
        position: absolute;
        top: -1px;
        margin-top: 6px;
        font-size: 17px;
        bottom: 0;
        line-height: 1.1;
        left: -2px;
        right: 0;
      }

      .render {
        position: absolute;
        top: 0;
        margin-top: 6px;
        bottom: 0;
        line-height: 1.1;
        font-size: 17px;
        left: 0;
        user-select: none;
        pointer-events: none;
        right: 0;

        .placeholder {
          color: #888;
          user-select: none;
          pointer-events: none;
          font-size: 17px;
        }

        .cursor {
          background: #000;
        }
      }
    }
  }
}

.sgiinput {
  border: none;
  background: #fff;
  padding: 1em;
  width: 350px;
  margin-bottom: 0.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1;
}
.sgibtn {
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9630e4 51%, #ec2222 100%) !important;
  border-radius: 999px;
  border: none;
  position: relative;
  padding: 1em;
  color: #fff;
  transition: opacity .3s ease-out;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 350px;
  opacity: 0.5;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}