#fileman ul{list-style:none;margin:0;padding:0}#fileman li{border:1px solid #42b3f4;border-top:none}#fileman li.path{border-top:1px solid #42b3f4;background:#42b3f4;color:rgba(255,255,255,0.8);border-top-left-radius:5px;border-top-right-radius:5px}#fileman li.path button{border-color:#fff;color:#fff}#fileman li.file,#fileman li.directory,#fileman li.path{display:flex;justify-content:space-between}#fileman li .pad{padding:0 0.5em;display:flex;align-items:center}#fileman li .flex{display:flex}#fileman li button{border:0;border-left:1px solid #42b3f4;outline:0;background:none;color:#43b3f4;transition:all .1s ease-in-out;width:32px;height:32px;display:flex;justify-content:center;align-items:center}#fileman li button:hover{color:#fff;background:#42b3f4}
/*# sourceMappingURL=fileman.css.map */
