@import "normalize";

html,
body {
  background: #fff;
  color: #636b6f;
  min-height: 100vh;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
input,
button {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

header {
  padding-top: 44px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .3);

  button {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);

    &:active,
    &:focus,
    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }

  h1 {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-size: 2.5em;
  }

  #primary-tags {
    margin-top: 22px;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 14px;

      a {
        color: rgba(255, 255, 255, 0.4);
        text-transform: uppercase;
        font-weight: bold;
        
        &:link,
        &:visited {
          text-decoration: none;
        }

        &:hover,
        &:active,
        &:focus {
          color: #fff;
        }
      }
    }
  }
}

button {
  background: none;
  border: 1px solid #fff;
  margin-left: 8px;
  padding: 1px 16px;
  font-size: 14px;
  margin-right: 0;
  border-radius: 999em;
  color: #fff;
  transition: border .2s ease-in-out,
              color .2s ease-in-out;
}

flex {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

container {
  padding: 25px 20px;
  display: block;
  max-width: 1040px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

space-between {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}