@import "normalize";

html,
body {
  background: #ddd;
  color: #666;
  font-weight: 100;
  min-height: 100vh;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
input,
textarea,
label {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  container {
    max-width: 500px;
    display: block;
    border: 2px solid #3dbfb6;
    font-weight: 400;
    border-radius: 20px;

    h1 {
      padding: 10px 20px;
      font-size: 30px;
      background: #3dbfb6;
      color: #fff;
      margin: -1px 0 0 -1px;
      border-radius: 20px 20px 0 0;
    }

    p {
      padding: 0 7px;
      text-align: justify;
      line-height: 1.2;
    }

    input {
      margin: 0 7px 16px;
      width: calc(100% - 12px);
      padding: 6px;
      background: #fff;
    }

    .buttons {
      border-top: 2px solid #3dbfb6;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding: 7px 0;

      button {
        padding: 7px 8px;
        background: none;
        border: none;
        color: #666;
        opacity: 0.7;
        transition: all .2s ease-in-out;
        margin-right: 9px;

        &.accent {
          background: #3dbfb6;
          border: 1px solid #3aaca2;
          border-radius: 10px;
          color: #fff;
        }

        &:hover,
        &:active,
        &:focus {
          opacity: 1;
        }
      }
    }
  }
}

.error, .progress, .success {
  color: #fff;
  position: fixed;
  padding: 1em;
  right: 1em;
  bottom: 1em;
  z-index: 6;
  max-width: 300px;
  width: 300px;
}

.error,
.success {
  &:after {
    position: absolute;
    content: '';
    background: #333;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    animation: set-width-0 2.5s ease-in-out;
  }
}

.error {
  background: #800000;
}

.progress {
  background: #053090;
}

.success {
  background: #008800;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #00dabe;
  padding: 9px;
  border-radius: 3px;
  height: 24px;
  width: 24px !important;
  display: inline-block;
  position: relative;
  float: right;
  margin: 1em;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
  transition: background .2s ease-out;

  &:checked {
    background: #00dabe;
  }

  &:hover {
    background: rgba(0, 218, 190, 0.34);
  }
}

@keyframes set-width-0 {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.overlay {
  background: #ddd;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 110%;
  flex-flow: column;

  &.dismiss {
    animation: dismiss 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}

@keyframes indicator {
  0% {
    transform: rotate(280deg);
  }

  75% {
    transform: rotate(640deg);
  }

  100% {
    transform: rotate(640deg);
  }
}

.sgiinput {
  border: none;
  background: #fff;
  padding: 1em;
  width: 350px;
  margin-bottom: 0.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1;
}
.sgibtn {
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9630e4 51%, #ec2222 100%) !important;
  border-radius: 999px;
  border: none;
  position: relative;
  padding: 1em;
  color: #fff;
  transition: opacity .3s ease-out;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 350px;
  opacity: 0.5;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}
@keyframes dismiss {
  0% {
    background: #ddd;
    opacity: 1;
    color: #666;
  }
  80% {
    background: rgba(221, 221, 221, 0.2);
    opacity: 1;
    color: #888;
  }
  100% {
    background: none;
    color: #ddd;
    pointer-events: none;
    opacity: 0;
  }
}