#fileman {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border: 1px solid #42b3f4;
    border-top: none;

    &.path {
      border-top: 1px solid #42b3f4;
      background: #42b3f4;
      color: rgba(255,255,255,0.8);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      button {
        border-color: #fff;
        color: #fff;
      }
    }

    &.file,
    &.directory,
    &.path {
      display: flex;
      justify-content: space-between;
    }

    .pad {
      padding: 0 0.5em;
      display: flex;
      align-items: center;
    }

    .flex {
      display: flex;
    }

    button {
      border: 0;
      border-left: 1px solid #42b3f4;
      outline: 0;
      background: none;
      color: #43b3f4;
      transition: all .1s ease-in-out;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #fff;
        background: #42b3f4;
      }
    }
  }
}